.wrapper {
  --background: #6f4e37;
}

.wrapper {
  background-color: var(--background);
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 24px;
}

.leftSide {
  width: 30vw;
  margin: 2rem 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftSide_container {
  display: flex;
  justify-content: space-between;
}

.leftSide_container h2 {
  font-size: 48px;
  font-family: var(--font-poppins);
}

.rightSide {
  width: 70vw;
  position: relative;
  overflow: hidden;
  padding: 12px;
}

.rightSide img {
  object-fit: cover;
  border-radius: 12px;
}
