// styles/button.module.scss
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1em 0;
  border-radius: 0 0 20px 20px;
}

.paginationButton {
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.paginationButton:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.pageNumber {
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}

.pageNumberActive {
  background-color: #624DE3;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;

}

.pageNumber:hover:not(.pageNumberActive) {
  background-color: #e0e0e0;
}
