/* components/input.module.scss */

.inputContainer {
  display: grid;
  align-items: center;
  margin-bottom: 16px;
  /* gap: 4em; */
  grid-template-columns: 1fr 5fr;
}

.label {
  min-width: 100px;
  margin-right: 8px;
  font-size: 14px;
  color: #333;
}

.input, .select {
  flex: 1;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
  font-size: 14px;
  color: #333;
  background: none;
  background-color: white;
}

.input:focus, .select:focus {
  outline: none;
  border-bottom-color: #0070f3; /* Change this color as desired */
}
