.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  background-color: #6f4e37;
  width: 18vw;
  height: 100%;
  padding: 24px;
  padding-right: 0px;
  flex-direction: column;
}

.content {
  --background: #d9ddeb;

  width: 100%;
  height: 100%;
  padding: 24px;
  padding-left: 0px;

  background-color: var(--background);
  padding: 32px;
}
